body[data-theme="dark"] {  

   @import '/src/scss/dark-slider';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: white;
   }
   #cat{
      fill: white!important;
      color: black!important;
   }
   .header-icon {
      color: #ffffff;
      opacity: 0.8;
   }

   .header{
      background-color: black;
   }

   .nav-list li a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      border-radius: 10px;
      color: #ffffff;
      font-size: 1.6rem;
      transition: 0.4s; /* Smooth transition for hover effect */
   }

   .nav-list li a:hover {
      background-color: #ffffff; /* Background color on hover */
      color: #000000; /* Text color on hover */
      padding: 10px;
   }


   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }


   header {
      background-image: url('dark-bg-test.jpeg');
   }

   .react-switch-bg {
      background: rgb(77 77 77) !important;
   }


   header h1 {
         color: white;
      font-family: 'Montserrat', sans-serif!important;
   }

   .nav.mobile-nav .close-btn {
      align-self: flex-end;
      cursor: pointer;
      font-size: 35px;
      color: black;
      position: absolute;
      top: 0px;
      right: 20px;
      z-index: 1002;
   }

   .nav.mobile-nav a {
      text-align: right;
      padding: 21px 15px;
      border-bottom: 1px solid #000000;
      display: block;
      color: #0c0c0c;
      text-decoration: none;
      position: relative;
      top: 60px;
      font-size: large;
      font-family: 'Montserrat', sans-serif!important;
   }

   .nav.mobile-nav.open {
      box-shadow: 2px 0px 5px rgb(255, 255, 255)!important;
   }

   .hamburger-menu {
      color: white;
   }

   .nav.mobile-nav {
      background-color: #ffffff;
   }



   #about {
      background-color: #1a1a1a;
      h1 span {
         color: white;
      }
      .polaroid span {
         background: #cbcbcb;
      }
      .card {
         background: #3d3d3d;
         color: white;
      }
   }

   #portfolio {
      background: #3d3d3d;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #151414;
      }
      .project-title-settings {
         color: white;
      }
   }

   #skills{
      background: #1a1a1a;
   }

   #resume {
      filter: brightness(80%);
      background: #3d3d3d;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #919191 !important;
         color: white;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #1c1c1c;
      color: white;
   }

   .close-icon {
      color: white;
   }
}