body[data-theme="dark"] {  

   @import '/src/scss/dark-slider';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .card-header {
      background-color: #cbcbcb!important;
   }

   .hamburger-menu {
      color: black;
   }

   .polaroid span svg{
      color: #232323;
   }

   .title-styles {
      color: white;
   }
   #cat{
      fill: black!important;
      color: white!important;
   }
   .header-icon {
      color: #ffffff;
      opacity: 0.8;
   }

   .header{
      background-color: #1a1a1a;
   }

   #informative-header {
      background: white;
   }

   .nav-list li a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      border-radius: 10px;
      color: black;
      font-size: 1.6rem;
      transition: 0.4s; /* Smooth transition for hover effect */
   }

   .nav-list li a:hover {
      background-color: black; /* Background color on hover */
      color: white; /* Text color on hover */
      padding: 10px;
   }




   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }


   header {
      background-image: url('dark-bg.jpg');
   }

   .react-switch-bg {
      background: rgb(77 77 77) !important;
   }


   header h1 {
         color: white;
      font-family: 'Montserrat', sans-serif!important;
   }

   .nav.mobile-nav .close-btn {
      align-self: flex-end;
      cursor: pointer;
      font-size: 35px;
      color: black;
      position: absolute;
      top: 0px;
      right: 20px;
      z-index: 1002;
   }

   .nav.mobile-nav a {
      text-align: right;
      padding: 21px 15px;
      border-bottom: 1px solid #000000;
      display: block;
      color: #0c0c0c;
      text-decoration: none;
      position: relative;
      top: 60px;
      font-size: large;
      font-family: 'Montserrat', sans-serif!important;
   }

   .nav.mobile-nav.open {
      box-shadow: 2px 0px 5px rgb(255, 255, 255)!important;
   }



   .nav.mobile-nav {
      background-color: #ffffff;
   }



   #about {
      background-color: #1a1a1a;
      h1 span {
         color: white;
      }
      .polaroid span {
         background: #cbcbcb;
      }
      .card {
         background: #3d3d3d;
         color: white;
      }
   }

   #projects {
      background: #3d3d3d;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #151414;
      }
      .project-title-settings {
         color: white;
      }
   }

   #skills{
      background: #1a1a1a;
      .section-title {
         color: white !important;
      }
   }

   .skills-tile {
      background-color: #3d3d3d;
   }

   #experience {
      filter: brightness(80%);
      background: #3d3d3d;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #919191 !important;
         color: white;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #1c1c1c;
      color: white;
   }

   .close-icon {
      color: white;
   }

   /* Contact Form Styles */
   #contact {
      background: #1a1a1a;
   }

   .contact-section {
      background: #919191;
   }


   #contact .section-title{
      color: white!important;
   }

   @media (max-width: 660px) {
      .contact-section {
         margin-right: 15px;
         margin-left: 15px;
      }
   }

   #contact h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
   }

   #contact form {
      display: flex;
      flex-direction: column;
   }

   .contact-description{
      text-align: center;
      margin-top: 0;
      font-size: 19px;
      margin-bottom: 4rem;
   }

   #contact form input,
   #contact form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      background-color: #E2E6E6;
      color: black;
   }

   #contact form textarea {
      height: 100px;
      resize: vertical;
   }

   #contact form button {
      width: auto;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      background-color: #232323;
      color: white;
      font-size: 16px;
      cursor: pointer;
      align-self: center;
      transition: background-color 0.3s ease;
   }

   footer {
      background: #3d3d3d;
   }


}