@import '/src/scss/themes/theme-dark';
@import '/src/scss/dark-slider';
@import '/src/scss/themes/theme-light';
@import '/src/scss/light-slider';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden!important;
}

	#informative-header {
		text-align: center;
		display: flex;
		width: 100%;
		height: 90px;
		justify-content: space-between;
		position: absolute;
		top: 0px;
		transition: opacity 0.3s ease, top 0s;
		z-index: 1001;
		background: #151513;
	}
@media only screen and (max-width: 768px) {
	#cat {
		height: 70px;
		width: 70px;
	}
	#informative-header {
		height: 70px;
	}
}


@media (min-width: 768px) {
	.header {
		width: 100vw;
		height: 100vh;
	}
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-container {
	height: 50px;
}

.title-styles {
	font-family: 'Raleway', sans-serif;
	font-size: 220%;
}

.header-icon {
	width: 100px;
	height: 100px;
	transition: transform 0.5s ease; /* Smooth transition for transform */
}

.iconify.header-icon {
	display: inline-block; /* Required for transform to work */
}

.iconify.header-icon:hover {
	transform: scale(1.2)!important; /* Rotate 180 degrees and scale up on hover */
}

.react-switch{
	top: 65px!important;
}
header {
	position: relative;
	height: 704px!important;
	min-height: 450px;
	width: 100%;
	background-image: url("../public/images/light-bg.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 0;
}

header h1{
	font-family: 'Montserrat', sans-serif!important;
}

.card-header {
	background-color: #232323!important;
}

#embedded-badge-1c1e00b2-9d18-48ef-8dde-f583cf0ad2ba {
	width: 400px!important;
	height: 250px!important;
	background: #fff!important;
}


@media (max-width: 768px) {
	#embedded-badge-1c1e00b2-9d18-48ef-8dde-f583cf0ad2ba {
		width: 300px!important;
		height: 300px!important;
	}
}



#embedded-badge-00c0b8bd-10d8-43d6-87e0-c1a0ce47e25d {
	width: 400px!important;
	height: 250px!important;
	background: #fff!important;
}


@media (max-width: 768px) {
	#embedded-badge-00c0b8bd-10d8-43d6-87e0-c1a0ce47e25d {
		width: 300px!important;
		height: 300px!important;
	}
}

#embedded-badge-6ce46418-284c-4464-aef6-4ac626879b90 {
	width: 400px!important;
	height: 250px!important;
	background: #fff!important;
}


@media (max-width: 768px) {
	#embedded-badge-6ce46418-284c-4464-aef6-4ac626879b90 {
		width: 300px!important;
		height: 300px!important;
	}
}

#embedded-badge-0eec546f-b14f-4266-8435-dba52dacf240 {
	width: 400px!important;
	height: 250px!important;
	background: #fff!important;
}


@media (max-width: 768px) {
	#embedded-badge-0eec546f-b14f-4266-8435-dba52dacf240 {
		width: 300px!important;
		height: 300px!important;
	}
}

@media screen and (min-width: 980px) {
	#cert {
		gap: 100px;
		margin-bottom: 80px!important;
	}
}

@media (max-width: 980px) and (min-width: 865px) {
	#cert {
		margin-bottom: 0px!important;
	}
}

@media screen and (max-width: 865px) {
	#cert {
		margin-bottom: 0px!important;
	}
}



.fa-aws{
	font-size: 240%!important;
}

.navbar {
	position: absolute!important;
	top: 1px;
	right: 10px;
	padding: 20px!important;
}

.nav-list {
	list-style: none;
	margin: 9px;
	padding: 0;
	display: flex;
}

.nav-list li {
	padding: 5px 25px;
}

.nav-list li a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
	color: #ffffff;
	font-size: 1.6rem;
	transition: 0.4s; /* Smooth transition for hover effect */
}

.nav-list li a:hover {
	background-color: #ffffff; /* Background color on hover */
	color: #000000; /* Text color on hover */
	padding: 10px;
}

.hamburger-menu {
	display: none;
	cursor: pointer;
	font-size: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1002;
}

.nav.mobile-nav {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background-color: #24282c;
	transition: 0.3s;
	z-index: 1001;
	opacity: 96%;
	display: inline;
}

.nav.mobile-nav .close-btn {
	align-self: flex-end;
	cursor: pointer;
	font-size: 35px;
	color: white;
	position: absolute;
	top: 0px;
	right: 20px;
	z-index: 1002;
}

.nav.mobile-nav a {
	text-align: right;
	padding: 21px 15px;
	border-bottom: 1px solid #e1e1e1;
	display: block;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	top: 60px;
	font-size: large;
	font-family: 'Montserrat', sans-serif!important;
}

.nav.mobile-nav a:hover {
	background-color: transparent;
}

.nav.mobile-nav.open {
	right: 0;
	box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
	z-index: 1002;
	display: none;
}

/* Responsive styles */
@media (max-width: 780px) {
	.hamburger-menu {
		display: block;
		color: white;
	}

	.nav-list {
		display: none;
	}

	.nav.mobile-nav.open {
		display: block;
	}
}

.header{
	min-height: 100vh;
}
.header-content {
	position: absolute;
	top: -150px;
	left: 49%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 0 15px; /* Give some space on small screens */
}
.react-switch-bg{
	background: #B3B3B3!important;
}


@media (min-width: 1420px){

	header {
		height: 860px!important;
	}

}

@media (max-width: 1420px) and (min-width: 1300px) {
	.react-switch-bg{
		height: 33px!important;
		width: 90px!important;
		margin-top: -5px!important;
	}

	.react-switch-handle{
		height: 28px!important;
		width: 28px!important;
	}

	.react-switch{
		top: 57px!important;
	}


}

@media (max-width: 1540px) and (min-width: 1420px) {
	.react-switch-bg{
		height: 33px!important;
		width: 90px!important;
		margin-top: -3px!important;
	}

	.react-switch-handle{
		height: 31px!important;
		width: 31px!important;
	}

	.react-switch{
		top: 64px!important;
	}

}

@media (max-width: 1620px) and (min-width: 1540px) {
	.react-switch-bg{
		height: 33px!important;
		width: 90px!important;
	}

	.react-switch-handle{
		height: 31px!important;
		width: 31px!important;
	}

	.react-switch{
		top: 68px!important;
	}

}

@media (max-width: 1700px) and (min-width: 1620px) {
	.react-switch-bg{
		height: 40px!important;
		width: 90px!important;
	}

	.react-switch-handle{
		height: 35px!important;
		width: 35px!important;
	}

	.react-switch{
		top: 75px!important;
	}

}

@media (min-width: 1700px) {
	.react-switch{
		top: 80px!important;
	}

}

@media (max-width: 1244px) and (min-width: 1128px) {

	.header-icon {
		width: 80px;
		height: 80px;
	}

	header h1 {
		font-size: 300%!important;
	}

	.title-styles {
		font-size: 180%;
	}
	.react-switch-bg{
		background: rgb(176 176 174)!important;
		height: 30px!important;
		width: 90px!important;
	}

	.react-switch{
		top: 60px!important;

	}
	.react-switch-handle{
		height: 29px!important;
		width: 29px!important;
	}

	#moon {
		height: 29px!important;
		width: 29px!important;
	}

	#sun{
		height: 29px!important;
		width: 29px!important;
	}

}

@media (max-width: 1300px) and (min-width: 1244px) {

	.header-icon {
		width: 80px;
		height: 80px;
	}

	header h1 {
		font-size: 300%!important;
	}

	.title-styles {
		font-size: 180%;
	}
	.react-switch-bg{
		background: rgb(176 176 174)!important;
		height: 30px!important;
		width: 90px!important;
	}

	.react-switch{
		top: 64px!important;

	}
	.react-switch-handle{
		height: 29px!important;
		width: 29px!important;
	}

	#moon {
		height: 29px!important;
		width: 29px!important;
	}

	#sun{
		height: 29px!important;
		width: 29px!important;
	}

}

@media (max-width: 1128px) and (min-width: 1030px) {

	.header-icon {
		width: 80px;
		height: 80px;
	}

	header h1 {
		font-size: 290%!important;
	}

	.title-styles {
		font-size: 170%;
	}
	.react-switch-bg {
		background: rgb(176 176 174)!important;
		height: 25px!important;
		width: 80px!important;
	}

	.react-switch{
		top: 52px!important;

	}
	.react-switch-handle{
		height: 25px!important;
		width: 25px!important;
	}

	#moon {
		height: 29px!important;
		width: 29px!important;
	}

	#sun{
		height: 29px!important;
		width: 29px!important;
	}

}

@media (max-width: 1030px) and (min-width: 900px) {

	.header-icon {
		width: 60px;
		height: 60px;
		margin-top: 50px;
	}

	header h1 {
		font-size: 250%!important;
	}

	.title-styles {
		font-size: 160%;
	}
	.react-switch-bg {
		background: rgb(176 176 174)!important;
		height: 24px!important;
		width: 75px!important;
	}

	.react-switch{
		top: 40px!important;

	}
	.react-switch-handle{
		height: 24px!important;
		width: 24px!important;
	}

	#moon {
		height: 24px!important;
		width: 24px!important;
	}

	#sun{
		height: 24px!important;
		width: 24px!important;
	}

}


@media (max-width: 900px) and (min-width: 780px) {

	.header-icon {
		width: 60px;
		height: 60px;
		margin-top: 50px;
	}

	header h1 {
		font-size: 210%!important;
	}

	.title-styles {
		font-size: 140%;
	}
	.react-switch-bg {
		background: rgb(176 176 174)!important;
		height: 23px!important;
		width: 75px!important;
	}

	.react-switch{
		top: 40px!important;

	}
	.react-switch-handle{
		height: 23px!important;
		width: 23px!important;
	}

	#moon {
		height: 23px!important;
		width: 23px!important;
	}

	#sun{
		height: 23px!important;
		width: 23px!important;
	}

}


@media (max-width: 780px) and (min-width: 480px)  {

	.header-icon {
		width: 60px;
		height: 60px;
		margin-top: 70px;
	}

	header h1 {
		font-size: 200%!important;
	}

	.title-styles {
		font-size: 130%;
	}
	.react-switch-bg {
		background: rgb(176 176 174)!important;
		height: 22px!important;
		width: 75px!important;
	}

	.react-switch{
		top: 30px!important;

	}
	.react-switch-handle{
		height: 22px!important;
		width: 22px!important;
	}

	#moon {
		height: 22px!important;
		width: 22px!important;
	}

	#sun{
		height: 22px!important;
		width: 22px!important;
	}

}

@media (max-width: 480px) and (min-width: 429px)  {
	header {
		background-image: url("../public/images/light-bg.jpg");
		height: 100%!important;
		background-position: -55px!important;
	}

	.header-content{
		top: 15px;
		left: 63%;
	}

	.header-icon {
		width: 60px;
		height: 60px;
		margin-top: 70px;
	}

	header h1 {
		font-size: 180%!important;
	}

	.title-styles {
		font-size: 120%;
	}
	.react-switch-bg {
		background: rgb(176 176 174)!important;
		height: 22px!important;
		width: 75px!important;
	}

	.react-switch{
		top: -3px!important;

	}
	.react-switch-handle{
		height: 20px!important;
		width: 20px!important;
	}

	#moon {
		height: 20px!important;
		width: 20px!important;
	}

	#sun{
		height: 20px!important;
		width: 20px!important;
	}

	.hamburger-menu {
		cursor: pointer;
		font-size: 32px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1002;
	}

	.polaroid span{
		margin-left: 76px!important;
	}


}

@media (max-width: 429px)  {

	header {
		background-image: url("../public/images/light-bg.jpg");
		height: 100%!important;
		background-position: -80px!important;
	}

	.header-content{
		top: 15px;
		left: 63%;
	}

	.header-icon {
		width: 60px;
		height: 60px;
		margin-top: 70px;
	}

	header h1 {
		font-size: 180%!important;
	}

	.title-styles {
		font-size: 120%;
	}
	.react-switch-bg {
		background: rgb(176 176 174)!important;
		height: 22px!important;
		width: 75px!important;
	}

	.react-switch{
		top: -3px!important;

	}
	.react-switch-handle{
		height: 20px!important;
		width: 20px!important;
	}

	#moon {
		height: 20px!important;
		width: 20px!important;
	}

	#sun{
		height: 20px!important;
		width: 20px!important;
	}


	.hamburger-menu {
		color: white;
		cursor: pointer;
		font-size: 32px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1002;
	}

	.polaroid span{
		margin-left: 76px!important;
	}

}

.react-switch-handle{
	transition: transform 0.2s ease-in-out;
}

.header-icon:hover + .react-switch .react-switch-handle {
	transform: scale(1.1); /* Example transformation */
	/* Add other styles to brighten up or change appearance */
}

.language-icon {
	font-size: 50px;
	cursor: pointer;
	display: none;
}

.project-date {
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 8px 15px 2px 15px;
	position: relative;
	z-index: -500;
	border-top: 5px solid #696969;
	border-radius: 0 0 5px 5px;
	background-color: #696969;
	color: white;
}

.skills-tile {
	background-color: #232323;
	padding: 10px 10px 5px 10px;
	width: 100px;
	margin: 5px 0 5px 0;
	border-radius: 8px;
}

.language {
	font-size: 25px;
	background-color: #e9d5a1;
	padding-bottom: 10px;
	padding-top: 80px;
display: none;
}

header h1 {
	font-size: 350%;
	text-align: center;
	font-weight: 600 !important;
	color: #353239;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0 auto 18px auto;
	width: 100%;
}

.slider-image {
	border: 5px solid #232323;
}

.slider-tab {
	background-color: #232323;
	height: 25px;
}

.slider-iconfiy {
	margin-top: 10px;
}

.styles_typicalWrapper__1_Uvh::after {
	cursor: none !important;
	display: none;
}

#about {
	background: #fff;
	overflow: hidden;
	min-height: 100vh;
}

#about h1 {
	padding-top: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}



.foto img {
	max-width: 100%;
	height: auto;
	display: block; /* This ensures the image doesn't have extra space below it */
	margin-bottom: 0;
	padding-bottom: 0;
	position: relative;
}

.foto div {
	background: #ffffff;
	display: inline-block;
	margin: 0 auto 5% auto;
	padding: 10px 10px 5px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.foto div:after {
	color: #333;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top: 15px;
}

.foto div:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
	z-index: 10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.project-title-settings {
	margin-top: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

.polaroid img {
	display: block;
	max-width: 350px;
	max-height: 400px;
}

.polaroid {
	/* Other styling for polaroid */
	transition: transform 0.2s; /* Smooth transform */
}

.polaroid:hover {
	transform: scale(1.1); /* Adjust scale as needed */
}

.polaroid span {
	background: #232323;
	display: inline-block;
	margin: 65px 75px 30px;
	margin-left: 100px;
	padding: 15px 15px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.polaroid span svg{
	color: white;
}

.link-href {
	color: black;
}

.wave {
	font-size: 160%;
}

.font-trebuchet {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#preview {
	width: 500px;
	background-color: #ebeaf5;
	padding: 15px;
	position: relative;
	margin-bottom: 15%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#experience {
	background: #afd6e8;
	min-height: 100vh;
}

.experience-icon {
	font-size: 300%;
	margin-top: 25%;
	text-align: center;
}

.main-badge {
	font-size: 13px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #232323 !important;
	color: white;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience-badge {
	font-size: 11px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #f9f5e9 !important;
	color: black;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vertical-timeline-element-date {
	padding: 0 !important;
	margin: 0 !important;
}

@media only screen and (max-width: 1170px) {
	.experience-icon {
		font-size: 170%;
		margin-top: 27%;
		text-align: center;
	}
}

.modal-inside .modal-content {
	background: white;
}

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars .skills {
	margin-top: 36px;
	list-style: none;
}

.bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 3px;
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}

.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #313131;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

.modal-close {
	text-align: right;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
}

.close-icon {
	color: black;
	font-weight: lighter !important;
}

.modal-description {
	text-align: justify;
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
	font-size: 12px;
}

.awssld__next {
	outline: none !important;
}

.awssld__prev {
	outline: none !important;
}

.loader-bar-color {
	color: black !important;
}

#projects {
	background: #afd6e8;
	padding-bottom: 5%;
	min-height: 100vh;
}

.portfolio-item {
	max-width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background-color: rgba(51, 51, 51, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size: 1.5rem;
}

.vertical-timeline-element-icon {
	background: #3d3d3d!important;
}

@media (min-width: 576px) {
	.portfolio .closeButtonResponsive {
		display: block;
	}
	.portfolio .portfolio-item {
		margin-bottom: 30px;
	}
}

#skills {
	background: white;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.section-title {
	padding-top: 5%;
	padding-bottom: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #000000!important;
	text-align: center;
}

.skill-icon {
	font-size: 180%;
	color: white;
	text-align: center;
	position: relative;
}

.skill-icon {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; /* Ensures wrapping on smaller screens */
}

.skill-icon li {
	display: flex!important;
	padding: 5px!important; /* Adjust the space between iframes */
}

.skill-icon iframe {
	border: none;
	max-width: 400px;
	width: 100%;
	height: auto;
}

footer {
	background: #1F1F1F;
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: white;
	position: relative;
	text-align: center;
}

footer a,
footer a:visited {
	color: #fff;
}

footer a:hover,
footer a:focus {
	color: #fff;
}

.social-links {
	margin-top: 25px;
	font-size: 22px;
}

/* Contact Form Styles */
#contact {
	min-height: 100vh;

}

.contact-section {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	background: #afd6e8;
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 660px) {
	.contact-section {
		margin-right: 15px;
		margin-left: 15px;
	}
}


#contact h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

#contact form {
	display: flex;
	flex-direction: column;
}

.contact-description{
	text-align: center;
	margin-top: 0;
	font-size: 19px;
	margin-bottom: 4rem;
}

#contact form input,
#contact form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #E2E6E6;
	color: black;
}

#contact form textarea {
	height: 100px;
	resize: vertical;
}

.submit-button {
	width: auto;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	background-color: #232323;
	color: white;
	font-size: 16px;
	cursor: pointer;
	align-self: center;
	transition: background-color 0.3s ease;
}

.submit-button:hover {
	opacity: 0.8;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	align-items: center;
	width: 400px!important;
	height: 150px;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-content p{
	font-size: 20px;
	text-align: center;
	padding: 10px;
}

.modal-content button{
	font-size: 15px;
	width: 90px;
}

@media (max-width: 660px) {
	.modal-content {
		margin-right: 15px;
		margin-left: 15px;
	}
	.modal-content p{
		font-size: 17px;
	}
}


